@font-face {
    font-family: muli;
    src: url('Muli.ttf');
}

@font-face {
    font-family: muli-semibold;
    src: url('Muli-SemiBold.ttf');
}

@font-face {
    font-family: opensans-regular;
    src: url('OpenSans-Regular.ttf');
}

body {
    padding:0;
    margin:0;
}

canvas {
    position:absolute;
    z-index:-1;
    width: 100%;
    height: 100%;
    min-height:650px;
    min-width:500px;
    transition: height 500ms, opacity 500ms;
}

#root {
    width:100vw;
    height:100vh;
}


/* CUSTOM "CHECKED" ICON */
.cboxB input:checked ~ label:before { content: 'X'; }
.cboxB input { display: none; }

/* CUSTOM SQUARE */
.cboxB label:before {
  display: inline-block;
  content: "\00a0"; /* Blank space */
  width: 22px;
  margin-right: 5px;
  text-align: center;
  background: transparent;
  border: 1px solid rgb(233, 233, 233);
  color:rgb(233, 233, 233);
  border-radius:5px;
  padding-bottom:0.2em;
}

/* OPTIONAL COSMETICS */
.cboxB {
  font-size: 16px;
  line-height: 20px;
  margin: 10px;
  color:rgb(233, 233, 233);
}
.cboxB label { cursor: pointer; }
.cboxB label:hover::before { background: rgb(233, 233, 233); }

.nav {
    position:fixed;
    display:flex;
    align-items: center;
    height:60px;
    width:100vw;
}

.nav-logo {
    font-size:30px;
    font-family: muli-semibold;
    color:white;
    margin:0.5em;
    margin-block-start:0.3em;
}

.nav-right {
    position:absolute;
    right:0;
    height:60px;
    display:flex;
}

.nav-right-button-container {
    display:flex;
    justify-content: center;
    align-items:center;
    margin-right:1em;
}

.search-page-dropdown-label {
    color:white;
    font-family:opensans-regular;
    margin:0.5em;
}

.search-page-date-button {
    border:none;
    background-color: transparent;
    outline:none;
    cursor:pointer;
}

.search-page-logout-button {
    border:none;
    background-color: transparent;
    outline:none;
    cursor:pointer;
}

.search-page-logout-button img {
    height:20px;
    margin-left:0.5em;
    margin-right:0.5em;
    display:flex;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(110deg) brightness(98%) contrast(108%);
}

.search-page-date-button-container {
    display:flex;
    justify-content:center;
    align-items:center;
    height:30px;
    width:80px;
    border-radius:20px;
    border:1px solid white;
    margin-left:0.5em;
    margin-right:0.5em;
}

.search-page-date-button-container p {
    margin:0;
    padding:0.5em;
    color:white;
}

.search-page-date-button img {
    height:15px;
    padding-top:0.1em;
    display:flex;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(110deg) brightness(98%) contrast(108%);
}

.search-page-container {
    position:relative;
    height:100%;
    width:100%;
}

.search-page-transition {
    transition:all 0.1s linear;
}

.search-page-user-selection {
    display:flex;
    position:relative;
    width:100%;
    justify-content: center;
    transition:all 1s linear;
}

.search-page-user-new, .search-page-user-returning {
    color:white;
    margin-right:2em;
    margin-bottom:1em;
    margin-left:2em;
    font-size: 18px;
    cursor:pointer;
    font-family:muli;
}

.search-page-search-container {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height:100%;
    width:100%;
    transition: height 500ms;
}

.search-page-search-container-inactive {
    min-height: 650px;
    min-width:500px;

}

.search-page-chart-container {
    height:calc(100% - 6em);
    width:70%;
    background-color:white;
    border-radius:5px;
    padding:1em;
    margin:2em;
    margin-right:1em;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    min-height:650px;
    min-width:600px;

}

.search-page-form {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.search-page-error {
    color:rgba(255, 255, 255, 0.63);
    font-family:opensans-regular;
}

.search-page-error.login-error {
    color: red !important;
    font-family:opensans-regular;
    font-size: 1.5rem;
}

.search-page-email-information {
    width: 425px;
    background-color:rgba(0, 0, 0, 0.151);
    margin:1em;
    border-radius:10px;
    padding:1.5em;
    color:rgba(255, 255, 255, 0.76);
    font-family: opensans-regular;
    font-size:13px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.search-page-email-information-image {
    margin-right:1.5em;
    height:25px;
    filter: invert(100%) sepia(4%) saturate(0%) hue-rotate(91deg) brightness(90%) contrast(98%);
}

.search-page-input {
    height:50px;
    width:450px;
    background-color:transparent;
    border:none;
    border-radius: 5px;
    outline:none;
    color:white;
    border:1px solid white;
    font-size:23px;
    padding-left:0.5em;
    margin:0.2em;
}

.search-page-input.refresh-password{
    border:1px solid #e6a9a2 !important;
    color:#e6a9a2 !important;
}

.search-page-check {
}

.search-page-submit {
    border:none;
    background-color:rgba(0, 0, 0, 0.1);
    color:white;
    font-size:16px;
    outline:none;
    border-radius:50px;
    width:120px;
    height:50px;
    align-self:center;
    margin:0.5em;
}

.search-page-submit:hover {
    background-color:rgba(0, 0, 0, 0.2  );
}

.search-page-input::placeholder {
    color:rgba(255, 255, 255, 0.7);
}

.search-page-username-label {
    font-family: muli;
    font-size:25px;
    margin-top:-0.5%;
    color:white;
}

.search-page-data-container {
    height:calc(100vh - 60px);
    min-height:790px;
    width:100vw;
    background-color:rgb(250, 250, 250);
    display:flex;
    overflow:auto;
}

.search-page-current-data {
    width: 30%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-left:1em;
    padding-right:1em;
    min-width:350px;
    min-height:700px;
}

.search-page-current-username {
    width:100%;
    height:60px;
    border-radius: 5px;
    color:black;
    margin:0;
    font-size:25px;
    line-height:60px;
    margin-left:0.5em;
}

.Dropdown-root {
    margin-top:0.5em;
    margin-bottom:0.5em;
}

.Dropdown-control {
    border-radius:10px;
    border:1px solid rgba(0, 0, 0, 0.226);
}

.search-page-averages {
    border-radius:10px;
    border:none;
}

.search-page-data-header {
    margin:0;
    font-size:25px;
    margin-bottom:0.5em;
    margin-left:0.5em;
    margin-top:0.5em;
    font-family: muli;
}

.search-page-data-averages {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    border-radius:5px;
    padding-bottom:1em;
    padding-top:1em;
    margin-bottom:0.5em;
    margin-top:0.5em;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
}

.search-page-data-ratios {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    background: rgb(238,174,202);
    background: linear-gradient(135deg, rgba(238,174,202,1) 0%, rgba(255,195,182,1) 100%);
    border-radius:5px;
    padding-bottom:1em;
    padding-top:1em;
    margin-bottom:0.5em;
    margin-top:0.5em;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
}

.search-page-data-average {
    width:100%;
    height:70px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.search-page-data-name {
    color:rgb(192, 192, 192);
    margin:0.5em 0.5em 0.5em 0.2em;
    font-size: 15px;
    margin-right:auto;
}

.search-page-data-value {
    color:white;
    margin:0.5em 0 0.5em 0.5em;
    font-size:25px;
    margin-right:auto;
}

.search-page-data-value-average {
    color:rgba(0, 0, 0, 0.671);
    margin:0.5em 0 0.5em 0.5em;
    font-size:25px;
    margin-right:auto;
}

.search-page-data-image {
    width:35px;
    justify-self: flex-start;
    margin-right:2em;
    margin-left:auto;
}

.search-page-data-image-ratio {
    height:35px;
    filter: invert(100%) sepia(2%) saturate(10%) hue-rotate(17deg) brightness(104%) contrast(103%);
}
.search-page-ratio-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.search-page-ratio-container {
    margin-left:auto;
    margin-right:2em;
}

.search-page-data-divide-ratio {
    font-size:25px;
    margin-left:0.5em;
    margin-right:0.5em;
    color:white;
    margin-top:0.8em;
}

.divider {
    background-color:rgba(255, 255, 255, 0.459);
    height:1px;
    width:25%;
    margin-left:auto;
    margin-right:auto;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

.divider-average {
    background-color:rgba(0, 0, 0, 0.459);
    height:1px;
    width:25%;
    margin-left:auto;
    margin-right:auto;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

.search-page-top-five-button {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    min-height:60px;
    width:180px;;
    margin-left:auto;
    margin-right:auto;
    outline:none;
    margin-top:0.5em;
    margin-left:auto;
    margin-right:auto;
    cursor:pointer;
}

.search-page-top-five-button:hover {
    background: rgb(182,206,255);
    background: linear-gradient(321deg, rgba(182,206,255,1) 0%, rgba(125,141,255,1) 100%);
    border:none;
}

.search-page-top-five-button:hover img {
    filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(299deg) brightness(102%) contrast(101%);
}

.search-page-top-five-button-image {
    width:25px;
    margin-top:0.3em;
}

.search-page-top-five-modal-background {
    position:absolute;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.2);
    height:100vh;
    width:100vw;
    top:0;
    left:0;
}

.search-page-top-five-modal {
    width: 70%;
    height: 90%;
    background-color:white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius:5px;
    display:flex;
    flex-direction:column;
    overflow-y:auto;
}

.search-page-top-five-modal::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
  }
  
.search-page-top-five-modal::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;

}

.search-page-top-five-modal::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(204, 204, 204);
}

.search-page-top-five-card {
    width:50%;
    margin:1em;    
}

.search-page-top-five-container {
    display:flex;
    margin:1em;
    border-radius:10px;
}

.search-page-top-five-modal-header {
    width:100%;
    font-size: 25px;
    color:rgb(189, 189, 189);
    font-family: muli-semibold;
    text-align: center;
    background-color: rgba(160, 160, 160, 0.2);
    padding-top:0.3em;
    padding-bottom:0.3em;
}

.search-page-top-five-information {
    width:50%;
    display:flex;
    flex-direction: column;
    background-color: rgb(177, 177, 177);
    margin:1em;
    border-radius:10px;
    color:white;
    font-size:20px;
}

.search-page-top-five-caption {
    text-align:center;
    margin-top:auto;
}

.search-page-top-five-likes-comments {
    margin-bottom:auto;
}

.search-page-top-five-likes-comments-image{
    width:30px;
    filter: invert(100%) sepia(0%) saturate(7493%) hue-rotate(231deg) brightness(120%) contrast(100%);
}

.search-page-top-five-likes, .search-page-top-five-comments {
    margin:1em;
    padding:1em;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.search-page-top-five-likes-comments {
    display:flex;
    margin-left:auto;
    margin-right:auto;
}

.carousel {
    border-radius: 10px;
}

.search-page-top-five-placeholder{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    border-radius:10px;
}

.spinner {
	border: 2px solid #ffffff;
	border-top: 2px solid #3482db;
	border-radius: 50%;
	width: 30px;
	height: 30px;
    animation: spin 0.7s linear infinite;
    margin-left:auto;
    margin-right:auto;
    
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.hello {
    font-size:10;
}